[SddmGreeterTheme]
Name=SWD_PSP_OS-dark
Description=SWD_PSP_OS-dark Theme
Author=yeyushengfan258
Copyright=(c) 2019, yeyushengfan258
License=CC-BY-SA
Type=sddm-theme
Version=0.1.0
Website=https://github.com/yeyushengfan258/SWD_PSP_OS-dark-kde
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=vinceliuice@hotmail.com
Theme-Id=SWD_PSP_OS-dark
Theme-API=2.0
